<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>HELLO USER!</title>
</head>
<body>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<table border="1" style="background-color: rosybrown">
    <tbody>
    <tr style="background-color: silver">
        <th><h3 th:text="ID"></h3></th>
        <th><h3 th:text="FirstName"></h3></th>
        <th><h3 th:text="LastName"></h3></th>
        <th><h3 th:text="Email"></h3></th>
        <th><h3 th:text="Age"></h3></th>
        <th><h3 th:text="Role"></h3></th>
        <th><h3 th:text="Password"></h3></th>
    </tr>
    <tr style="background-color: silver">
        <td><a th:text="${user.getId()}">ID</a></td>
        <td><a th:text="${user.getFirstName()}">firstName</a></td>
        <td><a th:text="${user.getLastName()}">lastName</a></td>
        <td><a th:text="${user.getEmail()}">email</a></td>
        <td><a th:text="${user.getAge()}">age</a></td>
        <td><a th:text="${user.getRoleNames()}">role</a></td>
        <td><a th:text="${user.getPassword()}">password</a></td>
    </tr>
    </tbody>
</table>
<br>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out" style="background-color: rosybrown"/>
</form>
</body>
</html>